input{
    border:none;
    outline:none;
    background-color: #333;
    width: 100%;
}
.form__input{
    border-bottom:1px solid #aaa;
}
.modal__container{
    position: absolute;
    top:0;
    left:0;
    background-color: #555;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    pointer-events: none;
    transition: opacity 0.3s;
}
.modal__container.show{
    opacity: 1;
    pointer-events:auto;
}
.modal{
    background-color: #333;
    padding: 5rem;
}